
*{
    margin: 0;
    padding: 0;
}

.thema-dark{
    background-color: black;
    color: white;
}
.thema-light{
    background-color: white;
    color: black;
}

a[class="themaMode"]{
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 25px;
    color: inherit;
    text-decoration: none;
}